@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

html{
    font-size: 22px;
}
body{
  
    margin-top: 0;
    background: linear-gradient(to bottom,rgb(236, 162, 2),rgb(240, 216, 4));
    
    
}





h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 110px;
  background: black;
  color: white;
  margin-top: 0;
  font-family: Arial;
  padding: 20px;
}

.content p:not(:first-child) {
    display: none;
  }
  .content.show-more p:not(:first-child) {
    display: block;
  }



img{
    border-radius: 20px;
}

.div_title{
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.title{
  font-size:95px;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.intro{
  display:flex;
  justify-content: center;
  margin-top:8px;
}
.intro_text{
  color:white;
  font-size:35px;
  font-family: 'Dancing Script', cursive;
}
.intro_text_u{
  font-size: 42px;
  color: white;
}
.main_text{
  margin-top:40px;
  color:white;
  font-family: 'Comfortaa', cursive;
}
.question{
  font-size:30px;
}

.banner{
  position: fixed;
  background-color: #000;

  padding-left:1500px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 50px;
}
header{
  box-sizing:border-box;
  margin:0;
  margin-top: 5px;
  padding:0;
  
  background-color:black;
  display: flex;
  
  align-items: center;
  padding:20px 10%;
  border-radius: 10px;
  
}
.home_nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 16px;
  color:white;
  background-color: black;
  border:none;
  text-decoration: none;
  cursor:pointer;
  display:inline-block;
  padding:0px 40px;
  padding-left:120px;
  transition: border 0.15s;
}
.home_nav:hover{
  border-color: white;
}
.predqstiq_nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 16px;
  color:white;
  background-color: black;
  border:none;
  text-decoration: none;
  cursor:pointer;
  display:inline-block;
  padding:0px 50px;
}
.osnovni_nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 16px;
  color:white;
  background-color: black;
  border:none;
  text-decoration: none;
  cursor: pointer;
  display:inline-block;
  padding:0px 20px;
}
.supi_nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 16px;
  color:white;
  background-color: black;
  border:none;
  text-decoration: none;
  cursor: pointer;
  display:inline-block;
  padding:0px 50px;
}
.deserti_nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 16px;
  color:white;
  background-color: black;
  border:none;
  text-decoration: none;
  cursor: pointer;
  display:inline-block;
  padding:0px 20px;
}
.nav_text{
  color:rgb(236, 162, 2);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 50px;
  margin-right: 10px;;

}
.predqstiq{
  display: flex;
  justify-content: center;
  margin-top:40px;
}
.predqstiq_text{
  color:white;
  font-family:'Comfortaa', cursive; 
  font-size:40px;
  
}
.musaka_pic{
  margin-top:0;
  padding: 0;

}
.musaka_all{
  display:flex;
  margin-top:30px;
}
.musaka_text{
  margin-top: 63px;
  color:white;
  font-family:'Comfortaa', cursive; 
  font-size:34px;
}
.musaka_title{
  color: white;
  font-family:'Comfortaa', cursive; 
  
  font-size:33px;
  text-decoration:none;
  transition:0.3s;
  
}
.musaka_title:hover{
  color:black;
}
.jump_button{
  background-color:black;
  width:auto;
  height:auto;
  border-radius: 5px;
  transition: 0.3s;
  margin-left:45px;
  margin-right:5px;
}
.jump_button:hover{
  opacity:0.8;
}
.jump_text{
  color:white;
  text-decoration:none;
  font-size:18px;
}
.about_button{
  background-color:black;
  width:auto;
  height:auto;
  border-radius: 5px;
  transition: 0.3s;
  margin-right:5px;
}
.about_button:hover{
  opacity:0.8;
}
.about_text{
  color:white;
  text-decoration:none;
  font-size:18px;
}
.mail_button{
  background-color:black;
  width:auto;
  height:auto;
  border-radius: 5px;
  transition: 0.3s;
}
.mail_button:hover{
  opacity:0.8;
}
.mail_text{
  color:white;
  text-decoration:none;
  font-size:18px;
}
.buttons_end{
  display:flex;
  justify-content:center;
}
.salati{
  display:flex;
  justify-content:center;
}
.salati_text{
  color:white;
  font-family:'Comfortaa', cursive; 
  font-size:35px;
}
.cezar_all{
  display:flex;
  
}.cezar_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .cezar_title:hover{
    color:black;
}
.cezar_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.cezar_text{
  color: white;
  margin-top:60px ;
  font-size:34px;
  font-family:'Comfortaa', cursive; 
}

.kapreze_all{ 
  display:flex;
  
}.kapreze_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .kapreze_title:hover{
    color:black;
}
.kapreze_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.kapreze_text{
  color: white;
  margin-top:60px ;
  font-size:30px;
  font-family:'Comfortaa', cursive; 
}

.burata_all{ 
  display:flex;
  
}.burata_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .burata_title:hover{
    color:black;
}
.burata_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.burata_text{
  color: white;
  margin-top:60px ;
  font-size:34px;
  font-family:'Comfortaa', cursive; 
}

.nisoaz_all{ 
  display:flex;
  
}.nisoaz_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .nisoaz_title:hover{
    color:black;
}
.nisoaz_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.nisoaz_text{
  color: white;
  margin-top:60px ;
  font-size:34px;
  font-family:'Comfortaa', cursive; 
}

.uoldorf_all{ 
  display:flex;
  
}.uoldorf_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .uoldorf_title:hover{
    color:black;
}
.uoldorf_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.uoldorf_text{
  color: white;
  margin-top:60px ;
  font-size:34px;
  font-family:'Comfortaa', cursive; 
}


.panzanela_all{ 
  display:flex;
  
}.panzanela_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .panzanela_title:hover{
    color:black;
}
.panzanela_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.panzanela_text{
  color: white;
  margin-top:60px ;
  font-size:34px;
  font-family:'Comfortaa', cursive; 
}





.shopska_all{ 
  display:flex;
  
}.shopska_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .shopska_title:hover{
    color:black;
}
.shopska_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.shopska_text{
  color: white;
  margin-top:60px ;
  font-size:31px;
  font-family:'Comfortaa', cursive; 
}




.ovcharska_all{ 
  display:flex;
  
}.ovcharska_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .ovcharska_title:hover{
    color:black;
}
.ovcharska_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.ovcharska_text{
  color: white;
  margin-top:60px ;
  font-size:29px;
  font-family:'Comfortaa', cursive; 
}



.grycka_all{ 
  display:flex;
  
}.grycka_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .grycka_title:hover{
    color:black;
}
.grycka_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.grycka_text{
  color: white;
  margin-top:60px ;
  font-size:27px;
  font-family:'Comfortaa', cursive; 
}
.morski_darowe{
  display:flex;
  justify-content:center;
}
.morski_darowe_text{
  color:white;
  font-family:'Comfortaa', cursive; 
  font-size:35px;
}


.syomga_all{ 
  display:flex;
  
}.syomga_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .syomga_title:hover{
    color:black;
}
.syomga_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.syomga_text{
  color: white;
  margin-top:60px ;
  font-size:30px;
  font-family:'Comfortaa', cursive; 
}

.cipura_all{ 
  display:flex;
  
}.cipura_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .cipura_title:hover{
    color:black;
}
.cipura_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.cipura_text{
  color: white;
  margin-top:60px ;
  font-size:30px;
  font-family:'Comfortaa', cursive; 
}


.morski_all{ 
  display:flex;
  
}.morski_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .morski_title:hover{
    color:black;
}
.morski_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.morski_text{
  color: white;
  margin-top:60px ;
  font-size:30px;
  font-family:'Comfortaa', cursive; 
}
.osnovno{
  display:flex;
  justify-content:center;
}
.osnovno_text{
  color:white;
  font-family:"Comfortaa",cursive;
  font-size:35px;
}


.osnovni_all{ 
  display:flex;
  
}.osnovni_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .osnovni_title:hover{
    color:black;
}
.osnovni_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.osnovni_text{
  color: white;
  margin-top:60px ;
  font-size:30px;
  font-family:'Comfortaa', cursive; 
}
.deserti{
  display:flex;
  justify-content:center;
}
.deserti_text_title{
  color:white;
  font-family:"Comfortaa",cursive;
  font-size:35px;
}

.deserti_all{ 
  display:flex;
  
}.deserti_text_title{
  margin-left:5px;
  display:inline-block;
  color:white;
 
    color: white;
    font-family:'Comfortaa', cursive; 
    
    font-size:33px;
    text-decoration:none;
    transition:0.3s;
    cursor: pointer;
  }
  .deserti_title:hover{
    color:black;
}
.deserti_pic{
   cursor:pointer;
  margin-top: 0;
  padding: 0;
}
.deserti_text{
  color: white;
  margin-top:60px ;
  font-size:30px;
  font-family:'Comfortaa', cursive; 
}
